<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <style>
        a{
            text-decoration: none;
            
    
        }
        a:hover{
            color: black;
        }
    </style>
</head>
<body>
    <div class="bg-light" style="padding: 15px; display: flex;">
        <h3>ABC Poultry </h3>
        <div class="text-secondary">
            <a href="index.html" class="text-secondary">Home</a>
            <a href="about.html"class="text-secondary">About Us</a>
            <a href="services.html"class="text-secondary">Services</a>
            <a href="gallery.html"class="text-secondary">Galley</a>
            <a href="FAQs.html"class="text-secondary">FAQS</a>
            <a href="contact.html"class="text-secondary">contact</a>
        </div>
    </div>
    <h4 class="text-center p-4">About ABC Poultry</h4>
    <div class="container">
        <section class="row">
            <div class="col-md-6">
           <img src="images/m2.jpg" alt="" width="550" height="350">
            </div>
            <div class="col-md-6">
                <p class="p-4">


    ABC Poultry is a leading provider of high-quality poultry products, committed to delivering fresh and healthy chicken to our customers. With a focus on sustainability and animal welfare, we ensure that our poultry is raised in the best conditions possible.

Founded with a mission to provide premium poultry products, we pride ourselves on our strict quality control measures and dedication to customer satisfaction. Our range of products includes whole chickens, chicken parts, and specialty items, all produced with the highest standards of hygiene and care.
                    
At ABC Poultry, we believe in transparency and building trust with our customers. We invite you to experience the difference of premium poultry and join our growing community of satisfied customers.
                    

</p>
            </div>
        </section>
        <section class="row bg-dark text-white p-6">
            <div class="col-md-4">
                <h5>ABC Poultry

                </h5>
                <p>Providing high-quality poultry products with a commitment to freshness and sustainability. Trust us for all your poultry needs.</p>
            </div>
 <div class="col-md-4" style="display:flex; flex-direction: column;">
    <h5>Quick Links</h5>
    <a href="index.html" class="text-white">Home</a>
    <a href="about.html"class="text-white">About Us</a>
    <a href="services.html"class="text-white">Services</a>
    <a href="gallery.html"class="text-white">Gallery</a>
    <a href="FAQs.htnl"class="text-white">FAQs</a>
    <a href="contact.html"class="text-white">Contact</a >
   </div>
        <div class="col-md-4">
<h5>contact us</h5> <br>
Address: 456 Poultry Lane, Nairobi, Kenya <br>

Email: info@abcpoultry.co.ke <br>

Phone: +254 700 654321 <br>
Facebook Twitter Instagram <br>
        </div><br>
        <p class="text-center text-white">© 2024 ABC Poultry. All Rights Reserved.</p>
    </section>
    </div>
</body>
</html>
</body>
</html>