<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>madaraka</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/bootstrap.js"></script>
        <style>
            a{
                text-decoration: none;
                
        
            }
            a:hover{
                color: black;
            }
            input{
                width: 450px;
            }
        </style>
    </head>
    <body>
        <div class="bg-light" style="padding: 15px; display: flex;">
            <h3>ABC Poultry</h3>
            <div class="text-secondary">
                <a href="index.html" class="text-secondary">Home</a>
                <a href="about.html"class="text-secondary">About Us</a>
                <a href="services.html"class="text-secondary">Services</a>
                <a href="gallery.html"class="text-secondary">Galley</a>
                <a href="FAQs.html"class="text-secondary">FAQS</a>
                <a href="contact.html"class="text-secondary">contact</a>
            </div>
        </div>
            <h3 class="text-center">Contact us</h3>
    
        <div class="container">
            <section class="row">
                <div class="col-md-6">
    <label for="">name</label><br>
    <input type="text"><br>
    <label for="">email</label><br>
    <input type="email"><br>
    <label for="">message</label><br>
    <textarea name="" id="" cols="40" rows="4" placeholder="your message"></textarea><br>
    <button type="button" class="btn btn-primary">submit</button>
    </div>
           <div class="col-md-6">
    
         <h6>Our Office </h6> <br>
    
        <p>123 Railway Avenue, Nairobi, Kenya </p> 
        
            <p> Email: info@madarakaexpress.co.ke </p> 
        
                <p>Phone: +254 700 123456 </p> 
        
                    <p>Opening Hours: Mon-Fri, 9:00 AM - 5:00 PM </p>
    </div>
            </section>
        </div>
            <section class="row bg-dark text-white p-6">
                <div class="col-md-4">
                    <h5>ABC Poultry</h5>
                    <p>Providing high-quality poultry products with a commitment to freshness and sustainability. Trust us for all your poultry needs.</p>
                </div>
     <div class="col-md-4" style="display:flex; flex-direction: column;">
        <h5>Quick Links</h5>
        <a href="index.html" class="text-white">Home</a>
        <a href="about.html"class="text-white">About Us</a>
        <a href="services.html"class="text-white">Services</a>
        <a href="gallery.html"class="text-white">Gallery</a>
        <a href="FAQs.html"class="text-white">FAQs</a>
        <a href="contact.html"class="text-white">Contact</a >
       </div>
            <div class="col-md-4">
    <h5>contact us</h5> <br>
    Address: 456 Poultry Lane, Nairobi, Kenya

    Email: info@abcpoultry.co.ke
    
    Phone: +254 700 654321
    Facebook Twitter Instagram 
            </div><br>
            <p class="text-center text-white">© 2024 ABC Poultry. All Rights Reserved.</p>
        </section>
    </body>
    </html>
</body>
</html>