<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <style>
        a{
            text-decoration: none;
            
    
        }
        a:hover{
          
            color: black;
        }
        img{
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="bg-light" style="padding: 15px; display: flex;">
        <h3>Poultry Farm </h3>
        
        <div class="text-secondary">
            <a href="index.html" class="text-secondary">Home</a>
            <a href="about.html"class="text-secondary">About Us</a>
            <a href="services.html"class="text-secondary">Services</a>
            <a href="gallery.html"class="text-secondary">Galley</a>
            <a href="FAQs.html"class="text-secondary">FAQS</a>
            <a href="contact.html"class="text-secondary">contact</a>
        </div>
    </div>
    <h4 class="text-center display-4">Gallery</h4>
    <div class="container p-3 " align="center">
        <div style="margin: 19px;">
            <img src="images/m14.jpg" alt="" width="300" height="200">
            <img src="images/m10.jpeg" alt=""width="300" height="200">
            <img src="images/m13.jpg" alt=""width="300" height="200">
        </div>
        <div style="margin: 19px;">
            <img src="images/m9.jpeg" alt="" width="300" height="200">
            <img src="images/m8.jpeg" alt=""width="300" height="200">
            <img src="images/m7.jpg" alt=""width="300" height="200">
        </div>
        <div style="margin: 19px;">
            <img src="images/m6.jpg" alt="" width="300" height="200">
            <img src="images/m7.jpeg" alt=""width="300" height="200">
            <img src="images/m14.jpg" alt=""width="300" height="200">
        </div>
    </div>
    <section class="row bg-dark text-white p-6">
        <div class="col-md-4">
            <h5>Poultry Farm</h5>
            <p>Providing the highest quality poultry and eggs. Our farm ensures the best care and conditions for our birds.</p>
        </div>
<div class="col-md-4" style="display:flex; flex-direction: column;">
<h5>Quick Links</h5>
<a href="" class="text-white">Home</a>
<a href=""class="text-white">About Us</a>
<a href=""class="text-white">Services</a>
<a href=""class="text-white">Gallery</a>
<a href=""class="text-white">FAQs</a>
<a href=""class="text-white">Contact</a >
</div>
    <div class="col-md-4">
<h5>contact us</h5> <br>
Address: 456 Farm Lane, Countryside, Country <br>

Email: info@poultryfarm.com <br>

Phone: +123 456 7890 <br>
Facebook Twitter Instagram  <br>
    </div><br>
    <p class="text-center text-white">© 2024 Poultry Farm. All Rights Reserved.</p>
</section>
</body>
</html>
</body>
</html>